html {
    height: 100%;
}

body {
    background-color: #EEE;
    height: 100%;
}

h1 {
    color: #244751;
}

#map {
    height: 100%;
    width: 65%;
    float: left;
}

.sidebar {
    z-index: 1;
    background-color: white;
    height: 100vh;
    width: 35%;
    overflow-y: scroll;
    overflow-x: hidden;
    float: right;
}

// .sidebar_back {
//     // display: none;
// }
.sidebar_header {
    background-color: #297cbb;
    height: 180px;
    width: 35%;
    position: fixed;
    padding: 20px;
}

.header_text {
    color: white;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 15px
}

.sidebar_panel {
    margin-top: 200px;
}

.user_info {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

input.username {
    font-size: 12px;
    width: 120px;
    height: 28px;
}

input.password {
    font-size: 12px;
    width: 120px;
    height: 28px;
}

h6.popular_maps {
    border-bottom: 1px dotted lightgrey;
    color: grey;
    margin-top: 15px;
    margin-left: 15px;
}

h6.user_maps {
    border-bottom: 1px dotted lightgrey;
    color: grey;
    margin-top: 15px;
    margin-left: 15px;
}

h6.favourite_maps {
    border-bottom: 1px dotted lightgrey;
    color: grey;
    margin-top: 15px;
    margin-left: 15px;
}

.map_element {
    border: 1.5px solid lightgrey;
    margin: 20px 40px 20px 40px;

    font-size: 16px;
    padding: 10px;
}

.point_element {
    border: 1.5px solid lightgrey;
    margin: 20px 40px 20px 40px;
    font-size: 20px;
    padding: 10px;
}

.panel_content {
    // float:right; //keep until final
    font-size: 16px;
    padding: 30px 50px 30px 50px;
}

.detail_image {
    // float: right; //keep until final
    margin-top: 200px;
    width: 100%;
}

.delete_map {
    color: white;
    background-color: red;
    position: fixed;
    bottom: 0px;
    display: none;
}

.remove_favourite {
    color: white;
    background-color: red;
    display: none;
}

// .create_map {
//     color: white;
//     font-size: 16px;
// }