html {
    height: 100%;
}

body {
    background-color: #EEE;
    height: 100%;
}

h1 {
    color: #244751;
}

#map {
    height: 100%;
    width: 65%;
    float: left;
}

.sidebar {
    z-index: 1;
    background-color: white;
    height: 100vh;
    width: 35%;
    overflow-y: scroll;
    overflow-x: hidden;
    float: right;
}

.sidebar_header {
    background-color: #297cbb;
    height: 180px;
    width: 35%;
    position: fixed;
    padding: 20px;
}

.header_text {
    color: white;
    font-size: 36px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 12px;
}

.btn.create_map {
    color: white;
}

.btn.sidebar_back {
    color: white;
}

.sidebar_panel {
    margin-top: 200px;
}

.user_info {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

input.username {
    font-size: 12px;
    width: 120px;
    height: 28px;
}

input.password {
    font-size: 12px;
    width: 120px;
    height: 28px;
}

#reg-message {
    margin: 15px;
}

h4#custom {
    font-size: 16px;
    color: grey;
    margin-top: 10px;
}

.new_map {
    display: block;
    text-align: center;
}

textarea.map_name {
    display: block;
    font-size: 13px;
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 15px;
}

textarea.map_image {
    display: block;
    font-size: 13px;
    width: 300px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn.next {
    width: 120px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.marker_form {
    display: block;
    text-align: center;
    margin: 30px;
    font-size: 13px;
}

.btn.save_marker {
    width: 120px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

h6#popular_maps {
    border-bottom: 1px dotted lightgrey;
    color: grey;
    margin-top: 15px;
    margin-left: 15px;
}

h6#user_maps {
    border-bottom: 1px dotted lightgrey;
    color: grey;
    margin-top: 25px;
    margin-left: 15px;
}

h6#favourite_maps {
    border-bottom: 1px dotted lightgrey;
    color: grey;
    margin-top: 15px;
    margin-left: 15px;
}

.location_pic {
    width: 50px;
    height: 50px;
}

.map_element {
    border: 1.5px solid lightgrey;
    margin: 20px 40px 20px 40px;
    font-size: 16px;
    padding: 10px;
}

.map_element_title {
    margin-left: 5px;
}

.btn#favourite-map {
    font-size: 12px;
    float: right;
    margin-top: 10px;
}

.btn.edit_marker {
    font-size: 12px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.btn.delete_marker {
    font-size: 12px;
    float: right;
    margin-top: 10px;
}

.btn.save_edited_marker {
    width: 120px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.point_element {
    border: 1.5px solid lightgrey;
    margin: 20px 40px 20px 40px;
    font-size: 16px;
    padding: 10px;
}

.point_element_description {
    margin-left: 5px;
}

.panel_content {
    // float:right; //keep until final
    font-size: 16px;
    padding: 30px 50px 30px 50px;
}

.detail_image {
    // float: right; //keep until final
    margin-top: 200px;
    width: 100%;
}

.delete_map {
    color: white;
    background-color: red;
    position: fixed;
    bottom: 0px;
    display: none;
}

.remove_favourite {
    color: white;
    background-color: red;
    display: none;
}

.user_maps #favourite-map {
    display: none;
}

.favourite_maps #favourite-map {
    display: none;
}